body {
    background-color: #B5D6B2;
    display: flex;
}

.knowledge {
    float: center;
}

.knowledge2 {
    float: center;
}

.knowledge3 {
    float: center;
}

.knowledge4 {
    float: center;
}

.knowledge5 {
    float: center;
}

.knowledge6 {
    float: center;
}

.title1 {
    float: left;
}

.title2 {
    float: left;
}

.title3 {
    float: left;
}


}

}

}